.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(275, 100%, 97%);
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: 100%;
    margin: 0;
    padding: 0;
    
}   

.faq_container {
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 365px;
    border-radius: 2%;
    margin: 180px auto; /*places the container pn the center of the screen*/

}

.faq_container * {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(292, 42%, 14%);
    font-weight: 700;
    font-size: 18px;
    margin: 7.5% auto 0% 7.5%;
    justify-content: space-between;
    gap: 15%;
}

.qna {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid hsl(275, 100%, 97%);
    width: 85%;
    align-items: center;
    padding: 7.5% 0%;
}

.qna:last-child {
    border-bottom: none;
}

.qna p {
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    margin-top: 7.5%;
}

h2 {
    color: hsl(292, 42%, 14%);
    display: block;
    width: fit-content;
    font-weight: 600;
    font-size: 17px;
}

button {
    position: relative;
    border-style: none;
    background-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;

}



@media only screen and (min-width: 500px) {
    body {
        background-image: url(./assets/images/background-pattern-desktop.svg);
    }

    .faq_container {
        width: 650px;
        margin: 140px auto;
        border-radius: 2.5%;
    }

    .qna {
        padding: 4% 0%;
        width: 90%;
    }

    .qna p {
        font-size: 18px;
        margin-top: 5%;
        line-height: 150%;
    }

    h2 {
        font-size: 20px;
        width: 90%;
        cursor: pointer;
    }

    h2:hover {
        color: rgb(176,44,236);
    }

    .title {
        font-size: 30px;
        margin: 5% auto 0% 5%;
        gap: 10%;
    }

    .title img {
        height: 45px;
    }
}